doctype html
html(lang="en" dir="ltr")
    head
        title Main
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        style(type='text/css')
            include ../css/index.css
    body
        div.payment-invoice
            div.payment-invoice-header
                table
                    tbody
                        tr
                            td.td-img(width='50')
                                img(src='./images/logo.png')
                            td(width='1000')
                                span.guest-fullname Андреасян Гарри Аршакович
                                br
                                span.guest-info Юридична адреса: 03039, г. Киев, улица Голосеевская, дом 13Б, квартира 348
                                br
                                span.guest-info Телефон: +38 (032) 261-59-03 Email: lviv@garishotel.com
            table.example-container(cellpadding='30')
                tr
                    td(colspan='12' width='100')
                        div.example-container-header Зразок заповнення платіжного доручення
                tr
                    td.example-container-table-title(colspan="2" width="200") Одержувач
                    td(colspan="2" width="350")
                    td(colspan="3" width="300")
                    td.example-container-table-title.text-center(colspan="4" width="400") КРЕДИТ рах. N
                    td(colspan="1" width="50")
                tr
                    td(colspan='2') Код
                    td.bolder.text-center.text-bold(colspan='2') 2893918716
                    td(colspan='3')
                    td.bolder.text-center.text-bold(colspan='4') 26007520428
                    td(colspan='1')
                tr
                    td(colspan='2') Банк одержувача
                    td.bolder.text-start.text-bold(colspan='2') АО "Райффайзен Банк Аваль"
                    td.text-center(colspan='3') Код банку
                    td.bolder.text-center.text-bold(colspan='4')
                    td(colspan='1')
                tr
                    td(colspan='2')
                    td(colspan='2')
                    td(colspan='1')
                    td.bolder.text-center.text-bold(colspan='1') 3809805
                    td(colspan='1')
                    td(colspan='4')
                    td(colspan='1')
                tr
                    td(colspan='12' height='30')
            h1 Рахунок №84470179-01
            h1 від 25 февраля 2021 р.
            table.fullname-table
                tbody
                    tr
                        td.bold(colspan='1' width='30') ПІБ:
                        td(colspan='11') Сидоренко Аліна Олександрівна
                    tr
                        td.bold(colspan='1' width='30') Бронювання:
                        td(colspan='11') 20210306-5221-84470179
            table.data-table
                thead
                    tr
                        td.bolder(width='50') №
                        td.bolder(width='320') Товари (роботи, послуги)
                        td.bolder(width='80') Одиниця виміру
                        td.bolder(width='80') Кіль-сть
                        td.bolder(width='100') Ціна, UAH
                        td.bolder(width='100') Сума, UAH
                tbody
                    tr
                        td.bolder 1
                        td.bolder.text-start Проживание с 6 марта 2021г. по 8 марта 2021г.. "10". Дабл стандарт. Гость: Сидоренко Аліна Олександрівна
                        td.bolder Сут.
                        td.bolder 2
                        td.bolder 479,00
                        td.bolder 958,00
                    tr
                        td.bottom-td(colspan='5') Всього:
                        td.bottom-td-content 958,00
                    tr
                        td.bottom-td(colspan='5') Податки і збори:
                        td.bottom-td-content -
                    tr
                        td.bottom-td(colspan='5') Вартість:
                        td.bottom-td-content 958,00
                    tr
                        td.bottom-td(colspan='5') Сплачено:
                        td.bottom-td-content 8,00
                    tr
                        td.bottom-td(colspan='5') Всього до сплати:
                        td.bottom-td-content 958,00
            table
                tr
                    td(width='100') Адміністратор
                    td.field-td(width='100') 
                    td(width='100')
