@import "./reset.scss";

body,
html {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.payment-invoice {
  font-family: "Roboto", sans-serif;
  width: 1000px;
  padding: 35px;
  border: 1.5px solid black;
}

td.td-img > img {
  width: 170px;
}

.guest-fullname {
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
}

.example-container {
  border: 2px solid black;
  margin: 50px 10px 40px 10px;
}

.example-container td {
  padding: 5px 8px 5px 8px;
}

.example-container-header {
  font-size: 14px;
  font-weight: 800;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.example-container-table-title {
  text-align: left;
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

.payment-invoice-header td {
  vertical-align: top;
}

.payment-invoice-header span.guest-info {
  font-size: 14px;
  font-weight: 600;
}

h1 {
  width: 100%;
  padding: 7px;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}

.bold {
  font-weight: 700;
}

td.bolder {
  border: 3px solid black;
  padding: 7px;
  text-align: center;
  vertical-align: middle;
}

td.text-start {
  text-align: left;
}

.fullname-table {
  margin: 15px 0px 15px 0px;
}

.fullname-table td {
  padding: 2px 5px 2px 5px;
  font-size: 14px;
}

.bottom-td {
  font-weight: 900;
  text-align: right;
  padding: 6px;
}

.bottom-td-content {
  font-weight: 900;
  border: 3px solid black;
  text-align: center;
  vertical-align: middle;
  padding: 6px;
}

.data-table {
  margin-bottom: 100px;
}

.field-td {
  border-bottom: 3px solid black;
}
